<section *ngIf="musica">
  <h1 class="mb-4 mt-5 border-bottom">{{musica.titulo}}</h1>
  <div>
    <span *ngIf="musica.artistas.length == 1"><i class="text-muted fas fa-user"></i></span>
    <span *ngIf="musica.artistas.length != 1"><i class="text-muted fas fa-users"></i></span>
    &nbsp;
    <span *ngFor="let artista of musica.artistas; last as ultimo">
      <a [routerLink]="['/artistas', artista.id]">{{ artista.nome }}</a><span *ngIf="!ultimo">, </span>
    </span>
  </div>
  <div>
    <i class="text-muted fas fa-tag"></i>

    <a [routerLink]="['/genero', musica.genero.id]">{{musica.genero.nome}}</a>

  </div>
  <div>
    {{musica.gostar}}
    {{musica.naoGostar}}
    <br>
    <button (click)="disco.gostar(musica)" type="button" class="btn btn-outline-secondary">Gostei</button>
    <button (click)="disco.naoGostar(musica)" type="button" class="btn btn-outline-secondary">Não Gostei</button>
  </div>

  <h2>Sugestão</h2>
</section>

<section *ngIf="musica.gostar">
  <h3>Musicas com outros Artistas</h3>
  <span *ngFor="let artista of musica.artistas">
    <span *ngFor="let musica of disco.listaDeMusicasDoArtista(artista.nome)">
      {{ musica.titulo }}
      <span *ngFor="let genero of disco.listaDeGeneros()">
        <span *ngIf="genero.nome === musica.genero.nome">
          <p *ngFor="let musica of genero.musicas">
            {{ musica.titulo }}
          </p>
        </span>
      </span>
    </span>
  </span>
</section>
<section *ngIf="musica.naoGostar">
  <h3>Musicas com outros Artistas</h3>
  <span *ngFor="let artista of musica.artistas">
    <span *ngFor="let art of disco.listaDeArtistas()">
      <span *ngIf="art.nome !== artista.nome">
        <span *ngFor="let musica of disco.listaDeMusicasDoArtista(art.nome)">
          {{ musica.titulo }}<br>
        </span>
      </span>
    </span>
  </span>
  <h3>Musicas com Genero Diferente</h3>
  <span *ngFor="let genero of disco.listaDeGeneros()">
    <span *ngIf="genero.nome !== musica.genero.nome">
      <div *ngFor="let musica of genero.musicas">
        {{ musica.titulo }}
      </div>
    </span>
  </span>
</section>


